h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(2, 34, 24, 0.48);
    text-align: center;
    text-transform: uppercase;
    padding: 1.2rem;
}

h3 {
  font: 900 1em 'Raleway', sans-serif;
  color: rgba(2, 34, 24, 0.48);
  text-align: center;
  text-transform: none;
  letter-spacing: 0.01em;
}

p {

    color: rgba(2, 34, 24, 0.48);
    text-align: center;
    text-transform: uppercase;
    text-transform: none;
    font-family: arial;
    text-align: center;
    font-size: 1.3em;
    color: rgba(2, 34, 24, 0.48); 
}

#mapIframeEmbed {
  padding: 2%;
}

body {
      background-color: #2b39400a;
      padding: 5px;
}

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    min-height: 420px;
    overflow: hidden;
}

.nav {
    margin: 50px 10px 10px 10px;
}

.addthis_inline_share_toolbox {
    text-align: center;
}

