body {
  background-image: url("./components/images/symphony.png");
  background-position: bottom;
  animation: 10s linear 0s infinite bp;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes bp {
  from {
    background-position: 198px 0;
  }

  to {
    background-position: 0 198px;
  }
}



.homepageWelcome {
  background: none;
  text-align: center;
  padding: 1.5rem 2rem 0 2rem;
}

h1 {
  font-family: 'Nanum Myeongjo', serif;
  font-size: calc(40px + (50 - 40) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

.homepageSubHeading {
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

.mapWrapper {
  text-align: center;
  box-shadow: 0 0 5px 2px #aadaff;
}

.footerText {
  text-align: center;
  padding: 1.5rem 2rem 0 2rem;
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

.footerTextShare {
  text-align: center;
  padding: 1.5rem 2rem 0 2rem;
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

.footerButtonsWrapper {
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  text-align: center;
  padding: 0 2 1.5 2 rem;
}

.footerButtonsWrapper .col {
  margin: 1rem;
}

.footerButtonsWrapper .col a {
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));

}

.socialIconWrapper {
  margin: .5rem !important;
}

.socialIcon {
width: 45px;
}

/* ----------------------------------------------
ANIMATIONS
 * ---------------------------------------------- */

.text-focus-in-first {
  -webkit-animation: text-focus-in 3.5s cubic-bezier(0.550, 0.085, 0.680, 0.530);
  animation: text-focus-in 3.5s cubic-bezier(0.550, 0.085, 0.680, 0.530);
}

.text-focus-in-second {
  -webkit-animation: text-focus-in 4s cubic-bezier(0.550, 0.085, 0.680, 0.530);
  animation: text-focus-in 4s cubic-bezier(0.550, 0.085, 0.680, 0.530);
}

.text-focus-in-third {
  -webkit-animation: text-focus-in 6s cubic-bezier(0.550, 0.085, 0.680, 0.530);
  animation: text-focus-in 6s cubic-bezier(0.550, 0.085, 0.680, 0.530);
}

.text-focus-in-fourth {
  -webkit-animation: text-focus-in 9s cubic-bezier(0.550, 0.085, 0.680, 0.530);
  animation: text-focus-in 9s cubic-bezier(0.550, 0.085, 0.680, 0.530);
}


.text-focus-in-fifth {
  -webkit-animation: text-focus-in 16s cubic-bezier(0.550, 0.085, 0.680, 0.530);
  animation: text-focus-in 16s cubic-bezier(0.550, 0.085, 0.680, 0.530);
}

.slide-out-top {
  -webkit-animation: slide-out-top 2.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 10s forwards;
  animation: slide-out-top 2.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 10s forwards;
}



/* ----------------------------------------------
 * Generated by Animista on 2019-5-9 19:33:23
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;

  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-5-13 17:26:22
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
    height: 0;
  }
}

@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
    height: 0;
  }
}





/* body{
    background: white;
  }
  
  
  .circle{
    position: absolute;
    border-radius: 50%;
    background: #3399ff;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
  }
  
  .small{
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
  }
  
  .medium{
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
  }
  
  .large{
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
  }
  
  .xlarge{
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
  }
  
  .xxlarge{
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
  }
  
  .shade1{
    opacity: 0.2;
  }
  .shade2{
    opacity: 0.5;
  }
  
  .shade3{
    opacity: 0.7;
  }
  
  .shade4{
    opacity: 0.8;
  }
  
  .shade5{
    opacity: 0.9;
  }
  
  @keyframes ripple{
    0%{
      transform: scale(0.8);
    }
    
    50%{
      transform: scale(1.2);
    }
    
    100%{
      transform: scale(0.8);
    }
  }
   */